Weather for:
= place.coords

- if cached?
  .cache
    Cached?: &#x2705;

.current= render 'panel', forecast: forecast['currently']

%hr
&nbsp;

.hourly
  - collection = forecast.dig('hourly', 'data').first(12)
  = render partial: 'panel', collection:, as: :forecast, locals: { small: true }

= javascript_include_tag 'skycons'
= javascript_include_tag 'main'

:javascript
  addSkyConsByClass('skycon');
