Weather for:
= place.address

- if cached?
  .cache
    Cached?: &#x2705;

%h2 Currently:
.current= render 'panel', forecast: forecast['currently']

%hr
&nbsp;

.hourly
  - collection = forecast.dig('hourly', 'data').first(12)
  - any_precip = collection.any? { |forecast| forecast['precipProbability'].to_f.positive? }
  = render partial: 'panel', collection:, as: :forecast, locals: { small: true, any_precip: }

= javascript_include_tag 'skycons'
= javascript_include_tag 'main'

:javascript
  addSkyConsByClass('skycon');
